<div class="row justify-content-around">
  <div class="col-5">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Renseigner le texte</mat-label>
      <textarea matInput placeholder="Texte à traiter..." [formControl]="editorCtrl"></textarea>
    </mat-form-field>
  </div>
  <div class="col-1 d-flex justify-content-center">
    <button mat-stroked-button (click)="sendTreatmentReq()" [disabled]="!canSendReq">Traiter</button>
  </div>
  <div class="col-5">
    <div *ngIf="treatmentResult$|async">
      {{treatmentResult}}
    </div>
  </div>
</div>
